nav {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    padding: 20px 20px;
    background-color: rgba(255, 0, 0, 0.709);
    border-radius: 5px;
}
h1 {
    font-size: 24px;
    margin: 0;
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
a:hover {
    color: #007BFF;
}
