.spell-container {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: #e0e0e0 2px 2px 5px;
}
.spell-container li {
    list-style-type: none;
}
.spell-container a {
    text-decoration: none;
    color: #333;
}
.spell-container a:hover {
    background-color: #e0e0e0;
}