footer {
    padding: 20px 20px;
    background-color: rgba(255, 0, 0, 0.709);
    border-radius: 5px;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
    text-align: center;
    color: #fff;
}